@model GroupVm
@{
    ViewData["Title"] = "Группа";
}
@{
    string guidValue = Model.Id.ToString();
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
        <div class="d-flex flex-grow-1 align-items-center justify-content-between">

            <div class="d-flex justify-content-center">
                <img class="me-1" src="@Url.Content("~/eagle.png")" alt="Орел">
                <div style="font-size: 30px;font-family: 'Montserrat'">@Model.Name</div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div class="dropdown">
                    <a class="btn dropdown-toggle m-1 me-3" id="CurrentName" style="font-size: 26px;" href="#" role="button" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu m-1 ms-3">
                        <li>
                            <a class="dropdown-item" id="logout" href="@Url.Action("CreateGroup", "Group")">Выйти</a>
                        </li>
                    </ul>
                </div>

                <button type="button" class="btn--blue m-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Пригласить
                </button>
            </div>
         
        </div>
    </nav>
</header>

<div class="d-flex flex-column m-2 flex-grow-1 justefy-content-center text-center">

    <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Ссылка</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="d-flex flex-column modal-body">

                    <div id="linkToCopy" class="p-1 m-2 addLink--container">
                        @Model.Link
                    </div>

                    <button type="button" data-clipboard-target="#linkToCopy" id="copyBtn" class="m-2 flex-grow-1 btn--blue">Копировать</button>

                </div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex justify-content-center">
            <div class="card--container">
                <div class="card cirle--margin"></div>
            </div>
            <div class="card--container">
                <div class="card cirle--margin"></div>
            </div>        
        </div>

        <div class="d-flex align-items-center ">

            <div class="flex-grow-1 d-flex justify-content-end d-flex flex-column card--container">
                <div class="card me-1"></div>
            </div>

            <div style=" position: relative; display: inline-block;">
                <div class="table">
                    <img style=" filter: brightness(-100%);" src="@Url.Content("~/sunny.png")" alt="Солнце">
                </div>
                <div class="m-3 relative">
                    <button class="btn--blue table--button " id="stopBtn">Завершить голосование</button>
                    <div id="average" class="d-none table--button cifra-average"></div>
                    <button class="btn--blue d-none table--bottom " id="newVotingBtn">Начать заново</button>
                </div>
            </div>

            <div class="flex-grow-1 card--container">
                <div class="card ms-1"></div>
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <div class="card--container">
                <div class="card cirle--margin"></div>
            </div>       
            <div class="card--container">
                <div class="card cirle--margin"></div>
            </div>       
        </div>

    </div>

    <div class="mt-4 d-flex justify-content-between">
        <div class="card--vote m-1">0</div>
        <div class="card--vote m-1">1</div>
        <div class="card--vote m-1">2</div>
        <div class="card--vote m-1">3</div>
        <div class="card--vote m-1">5</div>
        <div class="card--vote m-1">8</div>
        <div class="card--vote m-1">13</div>
        <div class="card--vote m-1">21</div>
        <div class="card--vote m-1">34</div>
        <div class="card--vote m-1">55</div>
        <div class="card--vote m-1">89</div>
        <div class="card--vote m-1">?</div>
        <div class="card--vote m-1">Кофе</div>
    </div>

 </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>

    let groupId = '@Html.Raw(guidValue)';
    let isVotingStopped = false;
    let stopBtn = document.getElementById("stopBtn")
    let newVotingBtn = document.getElementById("newVotingBtn")
    var cardDivs = document.querySelectorAll('.card--vote');
    var averageDiv = document.getElementById('average');
    let userCards = document.getElementsByClassName("card--container");
    let cardsVoting = document.querySelectorAll(".card--vote");
    let usersInGroup = []
    let value = 0;
    let average = 0;
    let currentUsername = "Администратор"
    let isVoting = true;

    document.getElementById("CurrentName").textContent = currentUsername

    cardDivs.forEach(function(cardDiv) {
        cardDiv.addEventListener('click', function() {
            if(cardDiv.classList.contains('card--vote--active')) {
                cardDiv.classList.remove('card--vote--active');
                value = 0;
            }
            else{
                document.querySelector('.card--vote--active')?.classList?.remove('card--vote--active');
                cardDiv.classList.add('card--vote--active');
                value = cardDiv.textContent
            }

             hubConnection.invoke("SetVote", {"Value" : cardDiv.textContent, "GroupId" : groupId, "Username" : currentUsername})
            .catch(function (err) {
                return console.error(err.toString());
            });
        });
    });


    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:5010/user")
        .build();
    
    hubConnection.on("FinishVoting", function(usersVote, average) {
        
        cardsVoting.forEach(function(card) {
            card.classList.add("d-none");
        });

        for(let i = 0; i < usersVote.length; i++) {
            console.log(usersVote[i])
        }
        averageDiv.textContent = average;
        averageDiv.classList.remove("d-none")

        newVotingBtn.classList.remove("d-none")
        stopBtn.classList.add("d-none")
    });

    hubConnection.on("StartNewVoting", function(usersVote, average) {
        
        cardsVoting.forEach(function(card) {
            card.classList.remove("d-none");
        });

    });

    hubConnection.on("UserAdded", function(users) {

        console.log(users)

        for(let i = 0; i < users.length; i++) {

            if(!usersInGroup.some(user => user.id === users[i].id)) {
                usersInGroup.push(users[i]);

                let messageElement = document.createElement("p");
                messageElement.textContent = users[i].name ;
                
                for(let j = 0; j < userCards.length; j++) {

                    if(userCards[j].childElementCount === 1) {
                        userCards[j].appendChild(messageElement);
                        userCards[j].children[0].classList.add("card--add--user");
                        break 
                    }
                }
            }
        }
    });

    document.getElementById("logout").addEventListener("click", function () {
        @* hubConnection.invoke("Logout", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            }); *@

    });

    newVotingBtn.addEventListener("click", function () {
        hubConnection.invoke("StartNewVoting", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
        averageDiv.classList.add("d-none")
        stopBtn.classList.remove("d-none")
        newVotingBtn.classList.add("d-none")
    });
    stopBtn.addEventListener("click", function () {
        hubConnection.invoke("FinishVoting", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    window.onbeforeunload = function() {
        hubConnection.invoke("CloseGroup", groupId)
        .catch(function (err) {
            return console.error(err.toString());
        });
    }

    hubConnection.start()
        .then(function () {
            hubConnection.invoke("CreateGroup", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
        })
        .catch(function (err) {
            return console.error(err.toString());
        });



    var clipboard = new ClipboardJS('#copyBtn');

    clipboard.on('success', function(e) {
        e.clearSelection();
        var copyBtn = document.getElementById("copyBtn");
        copyBtn.classList.add("btn--blue--clicked")
        copyBtn.textContent = "Скопированно"
    });


    
</script>
